[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "breakpointR"]
	path = breakpointR
	url = https://github.com/daewoooo/breakpointr
